<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./Styles/home.css">
        <link rel="shortcut icon" href="./Images/File_Icon.ico" type="image/x-icon">
        <title>Página Principal</title>
    </head>
    <body>
        <header class="header-page">
            <h1 class="header-title"><i class="far fa-file-code"></i> Postagens JS</h1>
            <nav class="navigator-page">
                <a class="link-navigator" href="http://localhost:3000/"><i class="fas fa-home"></i> Home</a>
                <a class="link-navigator" href="http://localhost:3000/cadastrar"><i class="fas fa-pen"></i> Criar</a>
            </nav>
        </header>
        <main class="main-page">
                {{#each datesPost}}
                    <div class="post-information">
                        <div class="title-div">
                            <h1 class="title-post">{{dataValues.titulo}}</h1>
                            <h1 class="date-post">{{formatDate dataValues.createdAt}}</h1>
                        </div>
                        <p class="content-post">{{dataValues.conteudo}}</p>
                        <hr class="line-post">
                        <a href="/deletar/{{dataValues.id}}"><button class="delete-button"><i class="fas fa-trash"></i></button></a>
                    </div>
                {{/each}}
        </main>
        <footer class="footer-page">
            <h1 class="copyright-text"><i class="far fa-copyright"></i> Victor Vasconcelos</h1>
        </footer>
    </body>
    <script src="https://kit.fontawesome.com/6797397c81.js" crossorigin="anonymous"></script>
</html>